@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

     .titulo-form {
     text-align: center;
     margin-top: 0;
     margin-bottom: 25px;
     font-size: 26px;
     font-weight: 600;
     color: #3c6eac;
     } 
     
    body {
        background-color: #93aaccff;
        font-family: 'Poppins', sans-serif;
        margin: 0;
        padding: 40px;
    }

    form {
        background: #ffffff;
        max-width: 420px;
        margin: 40px auto;
        padding: 35px;
        border-radius: 18px;
        box-shadow: 0 4px 20px rgba(0,0,0,0.12);
        border: 1px solid #e6e6e6;
    }

    label {
        font-size: 15px;
        color: #333;
        font-weight: 600;
        display: block;
        margin-bottom: 6px;
        margin-top: 10px;
    }

    input[type="text"],
    input[type="password"],
    input[type="email"] {
        width: 100%;
        padding: 12px;
        border-radius: 12px;
        border: 1px solid #cfcfcf;
        outline: none;
        font-size: 15px;
        transition: .25s;
    }

    input[type="text"]:focus,
    input[type="password"]:focus,
    input[type="email"]:focus {
        border-color: #3c6eac;
        box-shadow: 0 0 6px rgba(60,110,172,0.3);
    }

    input[type="submit"] {
        width: 100%;
        padding: 12px;
        margin-top: 20px;
        border: none;
        border-radius: 25px;
        background: #3c6eac;
        color: white;
        font-weight: 600;
        font-size: 16px;
        cursor: pointer;
        transition: .25s;
    }

    input[type="submit"]:hover {
        background: #2c5285;
        transform: translateY(-2px);
    }