@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #b8d1ff, #f3f7ff);
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    margin-top: 35px;
    font-size: 32px;
    color: #48669e;
    font-weight: 700;
}

.container {
    width: 70%;
    max-width: 850px;
    background: #fff;
    margin: 35px auto;
    padding: 35px;
    border-radius: 20px;
    box-shadow: 0 6px 25px rgba(0,0,0,0.10);
}

label {
    font-weight: 600;
    color: #444;
    margin-bottom: 6px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #d4c8f1;
    border-radius: 12px;
    margin-bottom: 18px;
    font-size: 15px;
    background: #fafafa;
    transition: 0.25s;
}

input:focus,
textarea:focus {
    background: #fff;
    border-color: #a88bd3;
    box-shadow: 0 0 6px #c6b2eb;
    outline: none;
}

h3 {
    margin-top: 25px;
    color: #404184;
    border-left: 6px solid #656fc7;
    padding-left: 10px;
}

.checkbox-item {
    background: #faf7ff;
    border: 1px solid #e2d9ff;
    padding: 10px 14px;
    margin: 8px 0;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: 0.25s;
}

.checkbox-item:hover {
    background: #f1eaff;
    transform: translateX(3px);
}



button {
    background: #6586c7;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 12px;
    font-size: 17px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
    margin-top: 15px;
}

button:hover {
    background: #4e69a8;
    transform: scale(1.03);
}

a.cancelar {
    margin-left: 15px;
    color: #6570c7;
    font-weight: 600;
    text-decoration: none;
}

a.cancelar:hover {
    text-decoration: underline;
}
