@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #90bafd, #bbd2ff);
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 40px;
    font-size: 36px;
    color: #3d79c3;
    font-weight: 700;
}

.top-link {
    text-align: center;
    margin-top: 10px;
}

.top-link a {
    background: #7db4d9;
    color: white;
    padding: 10px 18px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}

.top-link a:hover {
    background: #87d4ef;
    transform: scale(1.05);
}

p {
    text-align: center;
    margin-top: 15px;
    color: #555;
    font-size: 17px;
}


.container {
    width: 85%;
    max-width: 1000px;
    margin: 40px auto;
    background: #fff;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 6px 25px rgba(0,0,0,0.08);
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 25px;
    border-radius: 15px;
    overflow: hidden;
}

thead {
    background: #6594c7;
    color: white;
}

th {
    padding: 12px;
    font-size: 15px;
}

td {
    padding: 12px;
    text-align: center;
    font-size: 14px;
    color: #444;
    background: #fafafa;
    border-bottom: 1px solid #e0d7f7;
}

tbody tr:nth-child(even) td {
    background: #f2ecff;
}

.capa-img {
    width: 90px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

h2 {
    border-left: 6px solid #658ec7;
    padding-left: 10px;
    color: #5c4084;
    margin-top: 15px;
}
