@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    background: #a1c4f8;
    ;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
}

.voltar {
    text-decoration: none;
    font-size: 15px;
    color: #333;
    display: inline-block;
    margin-bottom: 15px;
}

.card {
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.titulo {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
}

.info p {
    font-size: 16px;
    margin: 8px 0;
}

.botoes {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: center;
}

.btn {
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    transition: 0.3s;
}

.editar {
    background: #007bff;
    color: #fff;
}

.editar:hover {
    background: #005fcb;
}

.logout {
    background: #ff4b4b;
    color: #fff;
}

.logout:hover {
    background: #cc0000;
}

.avaliacoes h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 25px;
}

.box-avaliacao {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 25px;
}

.box-avaliacao h3 {
    margin-bottom: 15px;
    font-weight: 600;
}

.item {
    background: #f8f8f8;
    padding: 12px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.nota {
    color: #ffb300;
    font-weight: bold;
}

.vazio {
    font-style: italic;
    color: #777;
}