 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

 body {
      background-color: #fff;
    }

    h1 {
      color: rgb(118, 152, 197);
      margin-top: 20px;
    }

    h2 {
      color: #000;
      margin-top: 20px;
    }

    a {
      display: inline-block;
      margin: 10px 0;
      font-size: 18px;
      color: #007bff;
      text-decoration: none;
    }

    .carousel {
      max-width: 600px;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
      position: relative;
      top: -50px;
      left: 55%;
      transform: translateX(-50%);
    }

    .carousel-item img {
      max-height: 100%;
      max-width: 100%;
      object-fit: contain;
      display: block;
    }

    #carouselBooks {
      position: relative;
      top: -90px;
      left: 30%;
      transform: translateX(-40%);
    }

    #div_busca {
      position: absolute;
      top: 10px;
      right: 10px;
      display: flex;
      align-items: center;
      gap: 10px;
      width: 300px;
      height: 45px;
    }

    #txt_busca {
      flex: 1;
      padding: 10px 12px;
      font-size: 16px;
      border-radius: 6px;
      border: 1px solid #aaa;
      outline: none;
    }

    #btn_Busca {
      width: 40px;
      height: 40px;
      cursor: pointer;
    }